<h3>Agregar un doctor</h3>
<div class="content">
  <div class="formulario">
    <label for="nombres">Nombres</label>
    <input type="text" id="nombres" [(ngModel)]="doc.nombres" />
    <label for="apellidos">Apellidos</label>
    <input type="text" id="apellidos" [(ngModel)]="doc.apellidos" />
    <label for="celular">Celular</label>
    <input type="text" id="celular" [(ngModel)]="doc.celular" />
    <label for="cmp">CMP</label>
    <input type="text" id="cmp" [(ngModel)]="doc.cmp" />
    <label for="correo">Correo</label>
    <input type="email" id="correo" [(ngModel)]="doc.correo" />
    <label for="especialidad">Especialidad</label>
    <input type="text" id="especialidad" [(ngModel)]="doc.especialidad" />
    <label for="residencia">Residencia</label>
    <input type="text" id="residencia" [(ngModel)]="doc.residencia" />
    <label for="perfil">Perfil</label>
    <textarea
      name="perfil"
      id="perfil"
      cols="30"
      rows="10"
      [(ngModel)]="doc.perfil"
    ></textarea>
    <label for="pass">Password</label>
    <input type="text" id="pass" [(ngModel)]="doc.pass" />
    <label for="foto">Foto</label>
    <input type="text" id="foto" [(ngModel)]="doc.foto" />
    <label for="usuario">Usuario</label>
    <input type="text" id="usuario" [(ngModel)]="doc.usuario" />
    <button (click)="insertDoctor()">Agregar</button>
  </div>
  <!-- <div class="tabla" *ngIf="docs.length != 0; else loading">
    <table>
      <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Celular</th>
        <th>CMP</th>
        <th>Correo</th>
        <th>Especialidad</th>
        <th>Residencia</th>
        <th>Perfil</th>
      </tr>
      <tr *ngFor="let d of docs">
        <td>{{ d.nombres | titlecase }}</td>
        <td>{{ d.apellidos | titlecase }}</td>
        <td>{{ d.celular }}</td>
        <td>{{ d.cmp }}</td>
        <td>{{ d.correo }}</td>
        <td>{{ d.especialidad }}</td>
        <td>{{ d.residencia }}</td>
        <td>{{ d.perfil }}</td>
      </tr>
    </table>
  </div> -->
</div>

<!-- <ng-template #loading>
  <shared-loading></shared-loading>
</ng-template> -->
