<!--<div class="cuadrados">
  <div class="cuadrado {{ c1 }}" (click)="click(0)">
    <h3>1. Contratante</h3>
  </div>
  <div class="linea"></div>
  <div class="cuadrado {{ c2 }}" (click)="click(1)">
    <h3>2. Afiliados</h3>
  </div>
  <div class="linea"></div>
  <div class="cuadrado {{ c3 }}" (click)="click(2)">
    <h3>3. Pago</h3>
  </div>
</div> -->
<div class="container">
  <div class="container1 flex-c steper">
    <mat-stepper #stiper>
      <mat-step *ngFor="let p of pokemons">
        <div class="flex-c">
          <h1>{{ p.name | titlecase }}</h1>
          <img [src]="p.img" alt="" />
        </div>
      </mat-step>
    </mat-stepper>
    <button class="prev" mat-mini-fab color="primary" (click)="act('prev')">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button class="next" mat-mini-fab color="primary" (click)="act('next')">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
<loading *ngIf="loading"></loading>
